body {
  line-height: 1.4;
}
footer {
  font-size: 1.5rem;
}
@font-face {
  font-family: "Custom Typewriter";
  font-display: swap;
  src: url("../fonts/veteran-typewriter.ttf");
}
body {
  font-family: "Custom Typewriter", serif;
  line-height: 1.4;
}
.site-title {
  font-size: 11vw;
  margin: 30vh auto;
  text-align: center;
}
a {
  color: saddlebrown;
}
nav a {
  font-size: 1.5em;
}
nav {
  font-size: 2.5em;
  text-align: center;
  margin: 5rem auto;
}
a {
  cursor: pointer;
}
nav a {
  display: inline-block;
  margin: 3rem 2vw;
  transition: all 400ms;
}
nav a:hover {
  color: lightblue;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
main li {
  display: inline-block;
}
a:hover {
  color: lightblue;
}
nav {
  font-size: 2.5rem;
  text-align: center;
  margin: 5rem auto;
}
.projects a {
  display: inline-block;
  font-size: 1.5em;
  transition: all 400ms;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4 {
  text-align: center;
}
.projects {
  font-size: 2.5em;
}
a.project-link {
  text-decoration: none;
}
#hodi-project-data {
  min-height: 38vh;
  width: 80vw;
  box-sizing: content-box;
}
#hodi-fsharp-logo {
  display: none;
}
.dreaming-security {
  font-size: 2.5em;
  margin: 5rem 3vw;
}
.dreaming-security ul {
  font-size: 1.75rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h3.subheading {
  color: #3e3e3e;
}
@media only screen and (max-width: 500px) {
  body {
    font-size: 3vw;
  }
  blockquote {
    margin-inline: 0;
  }
  ul {
    padding-inline-start: 0;
  }
}
.dreaming-in-php {font-size: 2.5em;margin: 5rem 3vw;}.dreaming-in-php ul,.dreaming-in-php ol{font-size: 1.75rem;font-family: "Times New Roman", Times, serif;}li {margin-bottom: 1rem;}@media only screen and (max-width: 500px) {body {font-size: 3vw;}}h3.subheading {color: #3e3e3e;}ul.dense-list *, ol.dense-list * {margin: 0;}@media only screen and (max-width: 500px) {code.multiline {font-size: 4.3vw;}}code.multiline {display: inline-block; padding: 2rem 1rem; max-width: 70vw;}code span.operator {color: #007700;}code span.symbol {color: #0000BB;}code {background-color: #f3f3f3;padding: 0.45rem; display: inline-block;}code span.string {color: #DD0000}