@font-face
{
	font-family: UltraLight;
	src: url('../fonts/HelveticaNeue-UltraLight.eot');
	src: url('../fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HelveticaNeue-UltraLight.woff') format('woff'),
		 url('../fonts/HelveticaNeue-UltraLight.tff') format('truetype');
 }
